.PortalBox{
    display: flex;
    align-items: center;
    height: 92.5%;
    width: 100%;
}

.NoteBox{
    background-color: #E88D67;
    height: 87%;
    width: 82.5%;
    margin-left: 2.5%;
    justify-content: center;
    border-radius: 10px;
    padding: 2.5%;
}

.Note{
    background-color: whitesmoke;
    color: black;
    height: 45%;
    width: 18%;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
}

.BigNote{
    position: fixed;
    background-color: white;
    top: 17%;
    left: 17.5%;
    color: black;
    height: 67.5%;
    width: 77.5%;
    border-radius: 1px;
    animation-name: scaleAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* @keyframes scaleAnimation {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  } */

  @keyframes scaleAnimation {
    0% {
      /* transform: scale(0); */
      /* bottom: 0; */
      /* right: 0; */
      width: 0%;
      height: 0%;
    }
    100% {
        width: 77.5%;
        height: 72.5%;
      /* transform: scale(1);
      bottom: auto;
      right: auto;
      top: 0;
      left: 0; */
    }
  }
